body{
    background: url("White_Mountains.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    font-size: 3rem;
}
h1,h2, h3 {
    font-family: Montserrat, sans-serif;
}
p, a{
    font-family: Open sans, sans-serif;
}
nav{
    display: flex;
    justify-content: flex-end;    
}
nav a{
    margin: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    color: Black;
}
nav a:hover{
    color: #3B0086;
}
main {
    display: flex;
    flex-flow: column;
}

